body header {
    background-color: rgb(235, 221, 221);
    margin: auto;
    width: 800px;
    text-align: center;
}

header ~ main {
    margin: auto;
    background-color: saddlebrown;
}

main + footer {
    font-size: 34px;
    background-color: seagreen;
}
