body header {
    background-color: red;
    margin: auto;
    width: 800px;
}

header ~ main {
    margin: auto;
    background-color: saddlebrown;
}

main + footer {
    font-size: 34px;
    background-color: seagreen;
}