* {
    font-family: 'Barlow Condensed', sans-serif;
}

body header {
    background-color: rgb(235, 221, 221);
    margin: auto;
    width: 800px;
    text-align: center;
}

body nav {
    margin: auto;
    background-color: #cfdddd;
    margin: auto;
    width: 800px;
}

header ~ main {
    margin: auto;
    background-color: #cfdddd;
    margin: auto;
    width: 800px;
}

main + footer {
    font-size: 34px;
    background-color: #cfdddd;
    margin: auto;
    width: 800px;
}


a:link {
    color: rgb(47, 104, 59);
  }

a:visited {
    color: rgb(28, 0, 128);
  }
  
a:hover {
    color: rgb(240, 255, 105);
  }
  
a:active {
    color: rgb(167, 167, 204);
  }

  h1::before {
      content: " \01F525";
  }
  p::after {
      content: "  Visite Paris na frança";
  }

  #poema::before {
    content: "Poema de Paul Verlaine";
    color: red;
}

  #poema::after {
      content: "    Escrito por --autor--";
      color: blue;
  }

  ::selection {
    color: rgb(195, 239, 245);
  }


  #poema::first-letter {
      font-size: 24px;
  }


tr:nth-child(even) {
    background-color: rgb(28, 28, 241);
}
tr:nth-child(odd) {
    background-color: rgb(16, 235, 4);
}

[src="imagens/franca.jpg"] {
    border: 5px solid #555;
}

[alt^="foto"] {
    border: 5px solid rgb(122, 53, 53);
}

[alt$="Fotos"] {
    border: 5px solid rgb(80, 136, 105);
}

[name*="awesome"] {
    border: 5px solid rgb(122, 21, 122);
}

#descricao::first-letter {
    color: royalblue;
    font-size: 24px;
}

#descricao::first-line {
    color: wheat;
}